@import "./variable.scss";

.peaks {
    height: 100%;

    * {
        box-sizing: border-box;
    }

    .navbar {
        height: 8em;
        width: 100%;
        background-color: $primary-color;

        .wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            max-width: $max-screen-size;
            margin: auto;
            padding: 1em;
        }

        .brand {
            cursor: pointer;

            img {
                max-height: 3em;
                margin: auto;
            }
        }

        .search-wrapper {
            position: relative;

            .input {
                position: absolute;
                bottom: -4em;
                right: 0
            }
        }
    }

    >section {
        min-height: calc(100% - 280px);
        width: 100%;
        max-width: $max-screen-size;

        @media screen and (min-width:$max-screen-size) {
            margin: auto;
        }

        .loader-wrapper {
            display: flex;
            min-height: calc(100vh - 280px);

            .loader {
                display: block;
                margin: auto;
                width: 100%;
                text-align: center;
            }
        }

        .breadcrumb {
            margin-top: 1em;
            padding-left: 1em;

            .previous {
                color: $primary-color;
                cursor: pointer;
            }

            .divider {
                color: $dark-color-opacity
            }

            .current {
                color: $secondary-color
            }
        }

        .page-title {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            flex-direction: column;

            @media screen and (min-width:$max-screen-size) {
                flex-direction: row;
            }


            h1 {
                font-size: 1.5em;
                padding: 0 1rem;

                @media screen and (min-width:$max-screen-size) {
                    font-size: 3em;
                }
            }

            >.button {
                margin-left: 1em;
                margin-top: 3em;
            }

            .actions {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 0 1rem;

                @media screen and (min-width:$max-screen-size) {
                    justify-content: flex-end;
                    width: 50%
                }
            }
        }
    }

    .footer {
        height: 12em;
        width: 100%;
        background-color: $primary-color;
    }
}