$primary-color:#09357b;
$primary-color-opacity:rgba(9, 53, 123, 0.95);
$secondary-color:#bababa;
$tertiary-color:rgba(255, 255, 255, 0.5);
$tertiary-color-opacity:rgba(255, 255, 255, 0.25);
$dark-color:#212121;
$dark-color-opacity:rgba(0, 0, 0, .4);
$light-color:#ffffff;

$max-screen-size:1200px;
$border-color:rgba(34, 36, 38, .15);